@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Ke Zhang<br />
    72 Harvey Circuit, SA5095<br />
    <abbr title="Phone">P:</abbr>
    0420370607
</address>

